/* current blog navigation button highlighted */
.blog-active{
  box-shadow: 0 10px 20px hsl(20, 95%, 7%), 0 6px 6px hsl(20, 45%, 63%);
}

/* Margin for body */
body{
  margin: 0, 1rem, 1rem, 1rem;
}

/* h1 heading styles */
h1{
  margin: 1rem;
  
  font-size: 40px;
  font-weight: bold;
}

.paragraph{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 570;
  margin: 1rem;

}

/* Image display on mobile */
img{
  display: inline-block;
  width: 100%;
}

ul{
  margin: 1rem;
}

h3{
  font-size: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
  padding: 1rem;
}

.main-title{
  color: black;
}

/* Unordered list style */
.blog-list{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsive styles for larger screens */
@media screen and (width > 50rem){
  /* Image display on wider screens */
img{
  display: block;
  width: 30vw;
  margin: 2rem;
  float: right;
  border-radius: 2rem;
    }

h3{
  font-size: 30px;
  margin-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }