.blog-active{
  box-shadow: 0 10px 20px hsl(20, 95%, 7%), 0 6px 6px hsl(20, 45%, 63%);
}

h1{
  font-size: 40px;
  margin: 1rem;
  font-weight: bold;
}

img{
display: block;
width: 30vw;
margin: 2rem;
float: right;
}

.paragraph{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 570;
  margin: 1rem;

}


h3{
  font-size: 30px;
  margin-top: 2rem;
  margin-bottom: 3.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
  padding: 1rem;
}

.main-title{
  color: black;
}

.blog-list{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (width > 40rem){

}
