*{
  box-sizing: border-box;
}

p{
  font-size: 20px;
  height: 19ch;
  overflow:scroll;
}

article img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  
}

 article:hover{
  filter: drop-shadow(0 0 2rem hsl(20, 45%, 63%));
  box-shadow: 0 10px 20px hsl(20, 45%, 63%), 0 6px 6px hsl(20, 45%, 63%);
 }


article{
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  
  font-size:30px;
  
  background-color:#ffffff;
  color: black;
  border:3px solid #cb9275;
  
}

/* current gallery navigation button highlighted */
.gallery-active{
  box-shadow: 0 10px 20px hsl(20, 95%, 7%), 0 6px 6px hsl(20, 45%, 63%);
}

/* Page heading */
.gallery-title{
  padding: 2rem;
  
  font-size: 40px;
  
  color: #000000;
}

.gallery{
  padding: 1rem;
}

h2{
  font-size: 30px;
  }

  /* Responsive styles for larger screens */
@media screen and (width > 50rem){
  .gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  h2{
    font-size: 40px;
  }
}