.cta{
  width: 25ch;
  color: #cb9275;
  background-color: white;
  border:3px solid #cb9275;
  border-radius: 1rem;
  margin-top: 4rem;
}
.home-active{
  box-shadow: 0 10px 20px hsl(20, 95%, 7%), 0 6px 6px hsl(20, 45%, 63%);
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cta:visited,
.cta:active{
  color:rgb(221, 253, 232);
}


.cta-button{
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.cta:hover{
  color: white;
  background-color: #cb9275;
  border:3px solid #ffffff;
}

p{
  font-size: 30px;
}

header{
  height: 100vh;
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  background-image: url("../images/header-2.jpg"); 
  overflow: hidden;
}

.copy{
font-size: 17px;
}

@media screen and (width > 40rem){

}